.ultra-green{
  @apply bg-green-800;
}

.welcome-text{
  @apply flex-1 w-60 mt-40 ml-40 text-center rounded-lg border border-gray-300 text-yellow-300 uppercase p-1;
}

.transition_up{
  transition: all .3s;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}
.open_sans{
  font-family: 'Open Sans', sans-serif;
}


.montserrat{
  font-family: 'Montserrat', sans-serif;
}

.quicksand{
  font-family: 'Quicksand', sans-serif;
}

.fix_menu{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

ul.hoverable > li{
  @apply hover:font-bold;
}

